.shadow {
  border-radius: 12px;
  background: #efeeee;
  box-shadow: 6px 6px 11px #cecdcd, -6px -6px 11px #ffffff;
}

.inverted-shadow {
  border-radius: 12px;
  background: #efeeee;
  box-shadow: inset 6px 6px 11px #cecdcd, inset -6px -6px 11px #ffffff;
}
